<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunnancommon.mapper.AccountInfoMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.yunnancommon.entity.po.AccountInfo">
		<!--用户名-->
		<id column="username" property="username" />
		<!--密码-->
		<result column="password" property="password" />
		<!--账号类型: 1-企业账号 2-市账号-->
		<result column="type" property="type" />
		<!--企业ID-->
		<result column="enterprise_id" property="enterpriseId" />
		<!--市编码-->
		<result column="city_code" property="cityCode" />
		<!--最后登陆时间-->
		<result column="last_login_time" property="lastLoginTime" />
		<!--状态: 0-正常 1-停用-->
		<result column="status" property="status" />
		<!--账号创建时间-->
		<result column="created_at" property="createdAt" />
	</resultMap>

	<!--通用查询结果-->
	<sql id="base_column_list">
		username,password,type,enterprise_id,city_code,last_login_time,status,created_at
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.username != null and query.username != ''">
			and username = #{query.username}
		</if>
		<if test="query.password != null and query.password != ''">
			and password = #{query.password}
		</if>
		<if test="query.type != null">
			and type = #{query.type}
		</if>
		<if test="query.enterpriseId != null and query.enterpriseId != ''">
			and enterprise_id = #{query.enterpriseId}
		</if>
		<if test="query.cityCode != null">
			and city_code = #{query.cityCode}
		</if>
		<if test="query.lastLoginTime != null">
			and last_login_time = #{query.lastLoginTime}
		</if>
		<if test="query.status != null">
			and status = #{query.status}
		</if>
		<if test="query.createdAt != null">
			and created_at = #{query.createdAt}
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.usernameFuzzy != null and query.usernameFuzzy != ''">
			 and username like concat('%',#{query.usernameFuzzy},'%')
		</if>
		<if test="query.passwordFuzzy != null and query.passwordFuzzy != ''">
			 and password like concat('%',#{query.passwordFuzzy},'%')
		</if>
		<if test="query.enterpriseIdFuzzy != null and query.enterpriseIdFuzzy != ''">
			 and enterprise_id like concat('%',#{query.enterpriseIdFuzzy},'%')
		</if>
		<if test="query.lastLoginTimeStart != null and query.lastLoginTimeStart != ''">
			<![CDATA[ and last_login_time >= str_to_date(#{query.lastLoginTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.lastLoginTimeEnd != null and query.lastLoginTimeEnd != ''">
			<![CDATA[ and last_login_time < str_to_date(#{query.lastLoginTimeEnd}, '%Y-%m-%d', interval -1 day) ]]>
		</if>
		<if test="query.createdAtStart != null and query.createdAtStart != ''">
			<![CDATA[ and created_at >= str_to_date(#{query.createdAtStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.createdAtEnd != null and query.createdAtEnd != ''">
			<![CDATA[ and created_at < str_to_date(#{query.createdAtEnd}, '%Y-%m-%d', interval -1 day) ]]>
		</if>
	</sql>

	<!--基础查询条件（带别名，用于关联查询）-->
	<sql id="base_query_condition_with_alias">
		<if test="query.username != null and query.username != ''">
			and a.username = #{query.username}
		</if>
		<if test="query.password != null and query.password != ''">
			and a.password = #{query.password}
		</if>
		<if test="query.type != null">
			and a.type = #{query.type}
		</if>
		<if test="query.enterpriseId != null and query.enterpriseId != ''">
			and a.enterprise_id = #{query.enterpriseId}
		</if>
		<if test="query.cityCode != null">
			and a.city_code = #{query.cityCode}
		</if>
		<if test="query.lastLoginTime != null">
			and a.last_login_time = #{query.lastLoginTime}
		</if>
		<if test="query.status != null">
			and a.status = #{query.status}
		</if>
		<if test="query.createdAt != null">
			and a.created_at = #{query.createdAt}
		</if>
	</sql>

	<!--扩展查询条件（带别名，用于关联查询）-->
	<sql id="base_query_condition_extend_with_alias">
		<if test="query.usernameFuzzy != null and query.usernameFuzzy != ''">
			 and a.username like concat('%',#{query.usernameFuzzy},'%')
		</if>
		<if test="query.passwordFuzzy != null and query.passwordFuzzy != ''">
			 and a.password like concat('%',#{query.passwordFuzzy},'%')
		</if>
		<if test="query.enterpriseIdFuzzy != null and query.enterpriseIdFuzzy != ''">
			 and a.enterprise_id like concat('%',#{query.enterpriseIdFuzzy},'%')
		</if>
		<if test="query.lastLoginTimeStart != null and query.lastLoginTimeStart != ''">
			<![CDATA[ and a.last_login_time >= str_to_date(#{query.lastLoginTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.lastLoginTimeEnd != null and query.lastLoginTimeEnd != ''">
			<![CDATA[ and a.last_login_time < date_add(str_to_date(#{query.lastLoginTimeEnd}, '%Y-%m-%d'), interval 1 day) ]]>
		</if>
		<if test="query.createdAtStart != null and query.createdAtStart != ''">
			<![CDATA[ and a.created_at >= str_to_date(#{query.createdAtStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.createdAtEnd != null and query.createdAtEnd != ''">
			<![CDATA[ and a.created_at < date_add(str_to_date(#{query.createdAtEnd}, '%Y-%m-%d'), interval 1 day) ]]>
		</if>
	</sql>

	<!--企业信息查询条件（用于关联查询）-->
	<sql id="enterprise_query_condition">
		<if test="enterpriseQuery != null">
			<if test="enterpriseQuery.name != null and enterpriseQuery.name != ''">
				and e.name = #{enterpriseQuery.name}
			</if>
			<if test="enterpriseQuery.region != null">
				and e.region = #{enterpriseQuery.region}
			</if>
			<if test="enterpriseQuery.regionCode != null">
				and e.region_code = #{enterpriseQuery.regionCode}
			</if>
			<if test="enterpriseQuery.nature != null">
				and e.nature = #{enterpriseQuery.nature}
			</if>
			<if test="enterpriseQuery.industry != null">
				and e.industry = #{enterpriseQuery.industry}
			</if>
			<if test="enterpriseQuery.status != null">
				and e.status = #{enterpriseQuery.status}
			</if>
		</if>
	</sql>

	<!--企业信息扩展查询条件（用于关联查询）-->
	<sql id="enterprise_query_condition_extend">
		<if test="enterpriseQuery != null">
			<if test="enterpriseQuery.nameFuzzy != null and enterpriseQuery.nameFuzzy != ''">
				 and e.name like concat('%',#{enterpriseQuery.nameFuzzy},'%')
			</if>
		</if>
	</sql>

	<!--通用查询条件（关联查询）-->
	<sql id="query_condition_with_enterprise">
	<where>
		<include refid="base_query_condition_with_alias" />
		<include refid="base_query_condition_extend_with_alias" />
		<include refid="enterprise_query_condition" />
		<include refid="enterprise_query_condition_extend" />
	</where>
	</sql>

	<!--通用查询条件-->
	<sql id="query_condition">
	<where>
		<include refid="base_query_condition" />
		<include refid="base_query_condition_extend" />
	</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		select
		<include refid="base_column_list" />
		from account_info
		<include refid="query_condition" />
		<if test="query.orderBy != null">order by ${query.orderBy}</if>
		<if test="query.simplePage != null">limit #{query.simplePage.start},#{query.simplePage.end}</if>
	</select>


	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		select count(1)
		from account_info
		<include refid="query_condition" />
	</select>

	<select id="selectCountWithEnterprise" resultType="java.lang.Integer">
		select count(1)
		from account_info a
		left join enterprise_info e on a.enterprise_id = e.enterprise_id
		<include refid="query_condition_with_enterprise" />
	</select>

	<select id="findListByParamWithAssociatedEnterpriseInfo"
			resultType="com.yunnancommon.entity.vo.AccountEnterpriseVO">
		select a.username, a.password, a.type, a.enterprise_id as enterpriseId, a.city_code as cityCode, a.last_login_time as lastLoginTime, a.status, a.created_at as createdAt,
		e.org_code as orgCode, e.name, e.name as enterpriseName, e.region, e.nature, e.industry, e.industry_desc as industryDesc, e.contact_name as contactName, e.address, e.postal_code as postalCode, e.phone_num as phoneNum, e.fax_num as faxNum, e.email
		from account_info a
		left join enterprise_info e on a.enterprise_id = e.enterprise_id
		<include refid="query_condition_with_enterprise" />
		<if test="query.orderBy != null">order by ${query.orderBy}</if>
		<if test="query.simplePage != null">limit #{query.simplePage.start},#{query.simplePage.end}</if>
	</select>


	<!--单条插入-->
	<insert id="insert" parameterType="com.yunnancommon.entity.po.AccountInfo">

		insert into account_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.username != null">
				username,
			</if>
			<if test="bean.password != null">
				password,
			</if>
			<if test="bean.type != null">
				type,
			</if>
			<if test="bean.enterpriseId != null">
				enterprise_id,
			</if>
			<if test="bean.cityCode != null">
				city_code,
			</if>
			<if test="bean.lastLoginTime != null">
				last_login_time,
			</if>
			<if test="bean.status != null">
				status,
			</if>
			<if test="bean.createdAt != null">
				created_at,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.username != null">
				#{bean.username},
			</if>
			<if test="bean.password != null">
				#{bean.password},
			</if>
			<if test="bean.type != null">
				#{bean.type},
			</if>
			<if test="bean.enterpriseId != null">
				#{bean.enterpriseId},
			</if>
			<if test="bean.cityCode != null">
				#{bean.cityCode},
			</if>
			<if test="bean.lastLoginTime != null">
				#{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.createdAt != null">
				#{bean.createdAt},
			</if>
		</trim>
	</insert>

	<!--插入或更新-->
	<insert id="insertOrUpdate" parameterType="com.yunnancommon.entity.po.AccountInfo">
		insert into account_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.username != null">
				username,
			</if>
			<if test="bean.password != null">
				password,
			</if>
			<if test="bean.type != null">
				type,
			</if>
			<if test="bean.enterpriseId != null">
				enterprise_id,
			</if>
			<if test="bean.cityCode != null">
				city_code,
			</if>
			<if test="bean.lastLoginTime != null">
				last_login_time,
			</if>
			<if test="bean.status != null">
				status,
			</if>
			<if test="bean.createdAt != null">
				created_at,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.username != null">
				#{bean.username},
			</if>
			<if test="bean.password != null">
				#{bean.password},
			</if>
			<if test="bean.type != null">
				#{bean.type},
			</if>
			<if test="bean.enterpriseId != null">
				#{bean.enterpriseId},
			</if>
			<if test="bean.cityCode != null">
				#{bean.cityCode},
			</if>
			<if test="bean.lastLoginTime != null">
				#{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.createdAt != null">
				#{bean.createdAt},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.password != null">
				password = VALUES(password),
			</if>
			<if test="bean.type != null">
				type = VALUES(type),
			</if>
			<if test="bean.enterpriseId != null">
				enterprise_id = VALUES(enterprise_id),
			</if>
			<if test="bean.cityCode != null">
				city_code = VALUES(city_code),
			</if>
			<if test="bean.lastLoginTime != null">
				last_login_time = VALUES(last_login_time),
			</if>
			<if test="bean.status != null">
				status = VALUES(status),
			</if>
			<if test="bean.createdAt != null">
				created_at = VALUES(created_at),
			</if>
		</trim>
	</insert>

	<!--添加（批量插入）-->
	<insert id="insertBatch" parameterType="com.yunnancommon.entity.po.AccountInfo">
		insert into account_info(username,password,type,enterprise_id,city_code,last_login_time,status,created_at) values
			<foreach collection="list" item="item" separator=",">
				(#{item.username},#{item.password},#{item.type},#{item.enterpriseId},#{item.cityCode},#{item.lastLoginTime},#{item.status},#{item.createdAt})
			</foreach>
	</insert>


	<!--添加（批量插入或更新）-->
	<insert id="insertOrUpdateBatch" parameterType="com.yunnancommon.entity.po.AccountInfo">
		insert into account_info(username,password,type,enterprise_id,city_code,last_login_time,status,created_at) values
			<foreach collection="list" item="item" separator=",">
				(#{item.username},#{item.password},#{item.type},#{item.enterpriseId},#{item.cityCode},#{item.lastLoginTime},#{item.status},#{item.createdAt})
			</foreach>
		on DUPLICATE key update
			username = VALUES(username),password = VALUES(password),type = VALUES(type),enterprise_id = VALUES(enterprise_id),city_code = VALUES(city_code),last_login_time = VALUES(last_login_time),status = VALUES(status),created_at = VALUES(created_at)
	</insert>

	<!--根据Username查询-->
	<select id="selectByUsername" resultMap="base_result_map">
		select <include refid="base_column_list" /> from account_info where username = #{username}
	</select>



    <!--根据Username更新-->
	<update id="updateByUsername" parameterType="com.yunnancommon.entity.po.AccountInfo">
		update account_info
		<set>
			<if test="bean.username != null">
				username = #{bean.username},
			</if>
			<if test="bean.password != null">
				password = #{bean.password},
			</if>
			<if test="bean.type != null">
				type = #{bean.type},
			</if>
			<if test="bean.enterpriseId != null">
				enterprise_id = #{bean.enterpriseId},
			</if>
			<if test="bean.cityCode != null">
				city_code = #{bean.cityCode},
			</if>
			<if test="bean.lastLoginTime != null">
				last_login_time = #{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				status = #{bean.status},
			</if>
			<if test="bean.createdAt != null">
				created_at = #{bean.createdAt},
			</if>
		</set>
		where username = #{username}
	</update>

	<!--根据Username删除-->
	<delete id="deleteByUsername">
		delete from account_info where username = #{username}
	</delete>


</mapper>
