<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunnancommon.mapper.NoticeInfoMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.yunnancommon.entity.po.NoticeInfo">
		<!--通知ID-->
		<id column="notice_id" property="noticeId" />
		<!--通知标题-->
		<result column="title" property="title" />
		<!--通知内容-->
		<result column="content" property="content" />
		<!--附件路径-->
		<result column="attachment" property="attachment" />
		<!--附件原名-->
		<result column="attachment_name" property="attachmentName" />
		<!--是否重要消息: 0-普通 1-重要-->
		<result column="is_important" property="isImportant" />
		<!--消息状态: 1-全部人可见 2-企业可见 3-市可见 4-省可见-->
		<result column="notice_status" property="noticeStatus" />
		<!--发布人-->
		<result column="publisher" property="publisher" />
		<!--发布时间-->
		<result column="publish_time" property="publishTime" />
		<!--生效开始时间-->
		<result column="start_time" property="startTime" />
		<!--生效结束时间-->
		<result column="end_time" property="endTime" />
		<!--阅读次数-->
		<result column="read_count" property="readCount" />
		<!--状态: 0-删除 1-正常 2-草稿-->
		<result column="status" property="status" />
		<!--创建时间-->
		<result column="created_at" property="createdAt" />
		<!--更新时间-->
		<result column="updated_at" property="updatedAt" />
	</resultMap>

	<!--通用查询结果-->
	<sql id="base_column_list">
		notice_id,title,content,attachment,attachment_name,is_important,notice_status,publisher,publish_time,start_time,end_time,read_count,status,created_at,updated_at
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.noticeId != null">
			and notice_id = #{query.noticeId}
		</if>
		<if test="query.title != null and query.title != ''">
			and title = #{query.title}
		</if>
		<if test="query.content != null and query.content != ''">
			and content = #{query.content}
		</if>
		<if test="query.attachment != null and query.attachment != ''">
			and attachment = #{query.attachment}
		</if>
		<if test="query.attachmentName != null and query.attachmentName != ''">
			and attachment_name = #{query.attachmentName}
		</if>
		<if test="query.isImportant != null">
			and is_important = #{query.isImportant}
		</if>
		<if test="query.noticeStatus != null">
			and notice_status = #{query.noticeStatus}
		</if>
		<if test="query.publisher != null and query.publisher != ''">
			and publisher = #{query.publisher}
		</if>
		<if test="query.publishTime != null">
			and publish_time = #{query.publishTime}
		</if>
		<if test="query.startTime != null">
			and start_time = #{query.startTime}
		</if>
		<if test="query.endTime != null">
			and end_time = #{query.endTime}
		</if>
		<if test="query.readCount != null">
			and read_count = #{query.readCount}
		</if>
		<if test="query.status != null">
			and status = #{query.status}
		</if>
		<if test="query.createdAt != null">
			and created_at = #{query.createdAt}
		</if>
		<if test="query.updatedAt != null">
			and updated_at = #{query.updatedAt}
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.titleFuzzy != null and query.titleFuzzy != ''">
			 and title like concat('%',#{query.titleFuzzy},'%')
		</if>
		<if test="query.contentFuzzy != null and query.contentFuzzy != ''">
			 and content like concat('%',#{query.contentFuzzy},'%')
		</if>
		<if test="query.attachmentFuzzy != null and query.attachmentFuzzy != ''">
			 and attachment like concat('%',#{query.attachmentFuzzy},'%')
		</if>
		<if test="query.attachmentNameFuzzy != null and query.attachmentNameFuzzy != ''">
			 and attachment_name like concat('%',#{query.attachmentNameFuzzy},'%')
		</if>
		<if test="query.publisherFuzzy != null and query.publisherFuzzy != ''">
			 and publisher like concat('%',#{query.publisherFuzzy},'%')
		</if>
		<if test="query.publishTimeStart != null and query.publishTimeStart != ''">
			<![CDATA[ and publish_time >= str_to_date(#{query.publishTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.publishTimeEnd != null and query.publishTimeEnd != ''">
			<![CDATA[ and publish_time < str_to_date(#{query.publishTimeEnd}, '%Y-%m-%d') + interval 1 day ]]>
		</if>
		<if test="query.startTimeStart != null and query.startTimeStart != ''">
			<![CDATA[ and start_time >= str_to_date(#{query.startTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.startTimeEnd != null and query.startTimeEnd != ''">
			<![CDATA[ and start_time < str_to_date(#{query.startTimeEnd}, '%Y-%m-%d') + interval 1 day ]]>
		</if>
		<if test="query.endTimeStart != null and query.endTimeStart != ''">
			<![CDATA[ and end_time >= str_to_date(#{query.endTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.endTimeEnd != null and query.endTimeEnd != ''">
			<![CDATA[ and end_time < str_to_date(#{query.endTimeEnd}, '%Y-%m-%d') + interval 1 day ]]>
		</if>
		<if test="query.createdAtStart != null and query.createdAtStart != ''">
			<![CDATA[ and created_at >= str_to_date(#{query.createdAtStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.createdAtEnd != null and query.createdAtEnd != ''">
			<![CDATA[ and created_at < str_to_date(#{query.createdAtEnd}, '%Y-%m-%d') + interval 1 day ]]>
		</if>
		<if test="query.updatedAtStart != null and query.updatedAtStart != ''">
			<![CDATA[ and updated_at >= str_to_date(#{query.updatedAtStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.updatedAtEnd != null and query.updatedAtEnd != ''">
			<![CDATA[ and updated_at < str_to_date(#{query.updatedAtEnd}, '%Y-%m-%d') + interval 1 day ]]>
		</if>
	</sql>

	<!--通用查询条件-->
	<sql id="query_condition">
	<where>
		<include refid="base_query_condition" />
		<include refid="base_query_condition_extend" />
	</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		select
		<include refid="base_column_list" />
		from notice_info
		<include refid="query_condition" />
		<if test="query.orderBy != null">order by ${query.orderBy}</if>
		<if test="query.simplePage != null">limit #{query.simplePage.start},#{query.simplePage.end}</if>
	</select>


	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		select count(1)
		from notice_info
		<include refid="query_condition" />
	</select>


	<!--单条插入-->
	<insert id="insert" parameterType="com.yunnancommon.entity.po.NoticeInfo">
		<selectKey keyProperty="bean.noticeId" resultType="Long" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into notice_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.noticeId != null">
				notice_id,
			</if>
			<if test="bean.title != null">
				title,
			</if>
			<if test="bean.content != null">
				content,
			</if>
			<if test="bean.attachment != null">
				attachment,
			</if>
			<if test="bean.attachmentName != null">
				attachment_name,
			</if>
			<if test="bean.isImportant != null">
				is_important,
			</if>
			<if test="bean.noticeStatus != null">
				notice_status,
			</if>
			<if test="bean.publisher != null">
				publisher,
			</if>
			<if test="bean.publishTime != null">
				publish_time,
			</if>
			<if test="bean.startTime != null">
				start_time,
			</if>
			<if test="bean.endTime != null">
				end_time,
			</if>
			<if test="bean.readCount != null">
				read_count,
			</if>
			<if test="bean.status != null">
				status,
			</if>
			<if test="bean.createdAt != null">
				created_at,
			</if>
			<if test="bean.updatedAt != null">
				updated_at,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.noticeId != null">
				#{bean.noticeId},
			</if>
			<if test="bean.title != null">
				#{bean.title},
			</if>
			<if test="bean.content != null">
				#{bean.content},
			</if>
			<if test="bean.attachment != null">
				#{bean.attachment},
			</if>
			<if test="bean.attachmentName != null">
				#{bean.attachmentName},
			</if>
			<if test="bean.isImportant != null">
				#{bean.isImportant},
			</if>
			<if test="bean.noticeStatus != null">
				#{bean.noticeStatus},
			</if>
			<if test="bean.publisher != null">
				#{bean.publisher},
			</if>
			<if test="bean.publishTime != null">
				#{bean.publishTime},
			</if>
			<if test="bean.startTime != null">
				#{bean.startTime},
			</if>
			<if test="bean.endTime != null">
				#{bean.endTime},
			</if>
			<if test="bean.readCount != null">
				#{bean.readCount},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.createdAt != null">
				#{bean.createdAt},
			</if>
			<if test="bean.updatedAt != null">
				#{bean.updatedAt},
			</if>
		</trim>
	</insert>

	<!--插入或更新-->
	<insert id="insertOrUpdate" parameterType="com.yunnancommon.entity.po.NoticeInfo">
		insert into notice_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.noticeId != null">
				notice_id,
			</if>
			<if test="bean.title != null">
				title,
			</if>
			<if test="bean.content != null">
				content,
			</if>
			<if test="bean.attachment != null">
				attachment,
			</if>
			<if test="bean.attachmentName != null">
				attachment_name,
			</if>
			<if test="bean.isImportant != null">
				is_important,
			</if>
			<if test="bean.noticeStatus != null">
				notice_status,
			</if>
			<if test="bean.publisher != null">
				publisher,
			</if>
			<if test="bean.publishTime != null">
				publish_time,
			</if>
			<if test="bean.startTime != null">
				start_time,
			</if>
			<if test="bean.endTime != null">
				end_time,
			</if>
			<if test="bean.readCount != null">
				read_count,
			</if>
			<if test="bean.status != null">
				status,
			</if>
			<if test="bean.createdAt != null">
				created_at,
			</if>
			<if test="bean.updatedAt != null">
				updated_at,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.noticeId != null">
				#{bean.noticeId},
			</if>
			<if test="bean.title != null">
				#{bean.title},
			</if>
			<if test="bean.content != null">
				#{bean.content},
			</if>
			<if test="bean.attachment != null">
				#{bean.attachment},
			</if>
			<if test="bean.attachmentName != null">
				#{bean.attachmentName},
			</if>
			<if test="bean.isImportant != null">
				#{bean.isImportant},
			</if>
			<if test="bean.noticeStatus != null">
				#{bean.noticeStatus},
			</if>
			<if test="bean.publisher != null">
				#{bean.publisher},
			</if>
			<if test="bean.publishTime != null">
				#{bean.publishTime},
			</if>
			<if test="bean.startTime != null">
				#{bean.startTime},
			</if>
			<if test="bean.endTime != null">
				#{bean.endTime},
			</if>
			<if test="bean.readCount != null">
				#{bean.readCount},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.createdAt != null">
				#{bean.createdAt},
			</if>
			<if test="bean.updatedAt != null">
				#{bean.updatedAt},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.title != null">
				title = VALUES(title),
			</if>
			<if test="bean.content != null">
				content = VALUES(content),
			</if>
			<if test="bean.attachment != null">
				attachment = VALUES(attachment),
			</if>
			<if test="bean.attachmentName != null">
				attachment_name = VALUES(attachment_name),
			</if>
			<if test="bean.isImportant != null">
				is_important = VALUES(is_important),
			</if>
			<if test="bean.noticeStatus != null">
				notice_status = VALUES(notice_status),
			</if>
			<if test="bean.publisher != null">
				publisher = VALUES(publisher),
			</if>
			<if test="bean.publishTime != null">
				publish_time = VALUES(publish_time),
			</if>
			<if test="bean.startTime != null">
				start_time = VALUES(start_time),
			</if>
			<if test="bean.endTime != null">
				end_time = VALUES(end_time),
			</if>
			<if test="bean.readCount != null">
				read_count = VALUES(read_count),
			</if>
			<if test="bean.status != null">
				status = VALUES(status),
			</if>
			<if test="bean.createdAt != null">
				created_at = VALUES(created_at),
			</if>
			<if test="bean.updatedAt != null">
				updated_at = VALUES(updated_at),
			</if>
		</trim>
	</insert>

	<!--添加（批量插入）-->
	<insert id="insertBatch" parameterType="com.yunnancommon.entity.po.NoticeInfo">
		insert into notice_info(title,content,attachment,attachment_name,is_important,notice_status,publisher,publish_time,start_time,end_time,read_count,status,created_at,updated_at) values
			<foreach collection="list" item="item" separator=",">
				(#{item.title},#{item.content},#{item.attachment},#{item.attachmentName},#{item.isImportant},#{item.noticeStatus},#{item.publisher},#{item.publishTime},#{item.startTime},#{item.endTime},#{item.readCount},#{item.status},#{item.createdAt},#{item.updatedAt})
			</foreach>
	</insert>


	<!--添加（批量插入或更新）-->
	<insert id="insertOrUpdateBatch" parameterType="com.yunnancommon.entity.po.NoticeInfo">
		insert into notice_info(title,content,attachment,attachment_name,is_important,notice_status,publisher,publish_time,start_time,end_time,read_count,status,created_at,updated_at) values
			<foreach collection="list" item="item" separator=",">
				(#{item.title},#{item.content},#{item.attachment},#{item.attachmentName},#{item.isImportant},#{item.noticeStatus},#{item.publisher},#{item.publishTime},#{item.startTime},#{item.endTime},#{item.readCount},#{item.status},#{item.createdAt},#{item.updatedAt})
			</foreach>
		on DUPLICATE key update
			notice_id = VALUES(notice_id),title = VALUES(title),content = VALUES(content),attachment = VALUES(attachment),attachment_name = VALUES(attachment_name),is_important = VALUES(is_important),notice_status = VALUES(notice_status),publisher = VALUES(publisher),publish_time = VALUES(publish_time),start_time = VALUES(start_time),end_time = VALUES(end_time),read_count = VALUES(read_count),status = VALUES(status),created_at = VALUES(created_at),updated_at = VALUES(updated_at)
	</insert>

	<!--根据NoticeId查询-->
	<select id="selectByNoticeId" resultMap="base_result_map">
		select <include refid="base_column_list" /> from notice_info where notice_id = #{noticeId}
	</select>

	<!--根据NoticeId更新-->
	<update id="updateByNoticeId" parameterType="com.yunnancommon.entity.po.NoticeInfo">
		update notice_info
		<set>
			<if test="bean.noticeId != null">
				notice_id = #{bean.noticeId},
			</if>
			<if test="bean.title != null">
				title = #{bean.title},
			</if>
			<if test="bean.content != null">
				content = #{bean.content},
			</if>
			<if test="bean.attachment != null">
				attachment = #{bean.attachment},
			</if>
			<if test="bean.attachmentName != null">
				attachment_name = #{bean.attachmentName},
			</if>
			<if test="bean.isImportant != null">
				is_important = #{bean.isImportant},
			</if>
			<if test="bean.noticeStatus != null">
				notice_status = #{bean.noticeStatus},
			</if>
			<if test="bean.publisher != null">
				publisher = #{bean.publisher},
			</if>
			<if test="bean.publishTime != null">
				publish_time = #{bean.publishTime},
			</if>
			<if test="bean.startTime != null">
				start_time = #{bean.startTime},
			</if>
			<if test="bean.endTime != null">
				end_time = #{bean.endTime},
			</if>
			<if test="bean.readCount != null">
				read_count = #{bean.readCount},
			</if>
			<if test="bean.status != null">
				status = #{bean.status},
			</if>
			<if test="bean.createdAt != null">
				created_at = #{bean.createdAt},
			</if>
			<if test="bean.updatedAt != null">
				updated_at = #{bean.updatedAt},
			</if>
		</set>
		where notice_id = #{noticeId}
	</update>

	<!--根据NoticeId删除-->
	<delete id="deleteByNoticeId">
		delete from notice_info where notice_id = #{noticeId}
	</delete>


</mapper>