<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunnancommon.mapper.OverviewMapper">

    <select id="getStatisticList" resultType="com.yunnancommon.entity.dto.OverviewStatisticsDataDto">
        SELECT eri.period_id as periodId,
        eri.report_id as reportId,
        eri.old_report_id as oldReportId,
        eri.reason_return as reasonReturn,
        eri.status as status,
        eri.period_start_time as periodStartTime,
        eri.period_end_time as periodEndTime,
        eri.created_at as createdAt,
        eri.updated_at as updatedAt,
        eri.enterprise_nature as enterpriseNature,
        eri.enterprise_industry as enterpriseIndustry,
        eri.enterprise_region as enterpriseRegion,
        ri.construction_count as constructionCount,
        ri.investigation_count as investigationCount
        FROM enterprise_report_info eri
        LEFT JOIN report_info ri ON eri.report_id = ri.report_id
        <where>
            <if test="query.periodId != null">
                eri.period_id = #{query.periodId}
            </if>
            <if test="query.enterpriseRegion != null">
                AND eri.enterprise_region = #{query.enterpriseRegion}
            </if>
            <if test="query.status != null and query.status.size() > 0">
                AND eri.status IN
                <foreach collection="query.status" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getDistributionDataList" resultType="com.yunnancommon.entity.dto.DistributionData">
        select ${groupBy} as code, count(*) as value
        FROM enterprise_info
        WHERE ${groupBy} IS NOT NULL
        GROUP BY ${groupBy}
        ORDER BY value DESC
    </select>
    <select id="getCityDistributionDataList" resultType="com.yunnancommon.entity.dto.DistributionData">
        select ${groupBy} as code, count(*) as value
        FROM enterprise_info
        WHERE ${groupBy} IS NOT NULL AND region_code = #{regionCode}
        GROUP BY ${groupBy}
        ORDER BY value DESC
    </select>
</mapper>