<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunnancommon.mapper.ReportAuditHistoryMapper">

    <resultMap id="base_result_map" type="com.yunnancommon.entity.po.ReportAuditHistory">
        <id column="audit_id" property="auditId" />
        <result column="enterprise_id" property="enterpriseId" />
        <result column="period_id" property="periodId" />
        <result column="report_id" property="reportId" />
        <result column="audit_level" property="auditLevel" />
        <result column="auditor" property="auditor" />
        <result column="audit_result" property="auditResult" />
        <result column="audit_opinion" property="auditOpinion" />
        <result column="audit_time" property="auditTime" />
    </resultMap>

    <sql id="base_column_list">
        audit_id,enterprise_id,period_id,report_id,audit_level,auditor,audit_result,audit_opinion,audit_time
    </sql>

    <sql id="base_query_condition">
        <if test="query.auditId != null">
            and audit_id = #{query.auditId}
        </if>
        <if test="query.enterpriseId != null and query.enterpriseId != ''">
            and enterprise_id = #{query.enterpriseId}
        </if>
        <if test="query.periodId != null">
            and period_id = #{query.periodId}
        </if>
        <if test="query.reportId != null and query.reportId != ''">
            and report_id = #{query.reportId}
        </if>
        <if test="query.auditLevel != null">
            and audit_level = #{query.auditLevel}
        </if>
        <if test="query.auditor != null and query.auditor != ''">
            and auditor = #{query.auditor}
        </if>
        <if test="query.auditResult != null">
            and audit_result = #{query.auditResult}
        </if>
    </sql>

    <sql id="base_query_condition_extend">
        <if test="query.enterpriseIdFuzzy != null and query.enterpriseIdFuzzy != ''">
            and enterprise_id like concat('%',#{query.enterpriseIdFuzzy},'%')
        </if>
        <if test="query.reportIdFuzzy != null and query.reportIdFuzzy != ''">
            and report_id like concat('%',#{query.reportIdFuzzy},'%')
        </if>
        <if test="query.auditorFuzzy != null and query.auditorFuzzy != ''">
            and auditor like concat('%',#{query.auditorFuzzy},'%')
        </if>
        <if test="query.auditTimeStart != null and query.auditTimeStart != ''">
            <![CDATA[ and audit_time >= str_to_date(#{query.auditTimeStart},'%Y-%m-%d') ]]>
        </if>
        <if test="query.auditTimeEnd != null and query.auditTimeEnd != ''">
            <![CDATA[ and audit_time < date_sub(str_to_date(#{query.auditTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
        </if>
    </sql>

    <sql id="query_condition">
        <where>
            <include refid="base_query_condition" />
            <include refid="base_query_condition_extend" />
        </where>
    </sql>

    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list" />
        FROM report_audit_history
        <include refid="query_condition" />
        <if test="query.orderBy != null and query.orderBy != ''">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage != null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM report_audit_history
        <include refid="query_condition" />
    </select>

    <insert id="insert" parameterType="com.yunnancommon.entity.po.ReportAuditHistory" useGeneratedKeys="true" keyProperty="bean.auditId">
        INSERT INTO report_audit_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.enterpriseId != null">
                enterprise_id,
            </if>
            <if test="bean.periodId != null">
                period_id,
            </if>
            <if test="bean.reportId != null">
                report_id,
            </if>
            <if test="bean.auditLevel != null">
                audit_level,
            </if>
            <if test="bean.auditor != null">
                auditor,
            </if>
            <if test="bean.auditResult != null">
                audit_result,
            </if>
            <if test="bean.auditOpinion != null">
                audit_opinion,
            </if>
            <if test="bean.auditTime != null">
                audit_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.enterpriseId != null">
                #{bean.enterpriseId},
            </if>
            <if test="bean.periodId != null">
                #{bean.periodId},
            </if>
            <if test="bean.reportId != null">
                #{bean.reportId},
            </if>
            <if test="bean.auditLevel != null">
                #{bean.auditLevel},
            </if>
            <if test="bean.auditor != null">
                #{bean.auditor},
            </if>
            <if test="bean.auditResult != null">
                #{bean.auditResult},
            </if>
            <if test="bean.auditOpinion != null">
                #{bean.auditOpinion},
            </if>
            <if test="bean.auditTime != null">
                #{bean.auditTime},
            </if>
        </trim>
    </insert>

    <insert id="insertOrUpdate" parameterType="com.yunnancommon.entity.po.ReportAuditHistory">
        INSERT INTO report_audit_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.auditId != null">
                audit_id,
            </if>
            <if test="bean.enterpriseId != null">
                enterprise_id,
            </if>
            <if test="bean.periodId != null">
                period_id,
            </if>
            <if test="bean.reportId != null">
                report_id,
            </if>
            <if test="bean.auditLevel != null">
                audit_level,
            </if>
            <if test="bean.auditor != null">
                auditor,
            </if>
            <if test="bean.auditResult != null">
                audit_result,
            </if>
            <if test="bean.auditOpinion != null">
                audit_opinion,
            </if>
            <if test="bean.auditTime != null">
                audit_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.auditId != null">
                #{bean.auditId},
            </if>
            <if test="bean.enterpriseId != null">
                #{bean.enterpriseId},
            </if>
            <if test="bean.periodId != null">
                #{bean.periodId},
            </if>
            <if test="bean.reportId != null">
                #{bean.reportId},
            </if>
            <if test="bean.auditLevel != null">
                #{bean.auditLevel},
            </if>
            <if test="bean.auditor != null">
                #{bean.auditor},
            </if>
            <if test="bean.auditResult != null">
                #{bean.auditResult},
            </if>
            <if test="bean.auditOpinion != null">
                #{bean.auditOpinion},
            </if>
            <if test="bean.auditTime != null">
                #{bean.auditTime},
            </if>
        </trim>
        ON DUPLICATE KEY UPDATE
            enterprise_id = VALUES(enterprise_id),
            period_id = VALUES(period_id),
            report_id = VALUES(report_id),
            audit_level = VALUES(audit_level),
            auditor = VALUES(auditor),
            audit_result = VALUES(audit_result),
            audit_opinion = VALUES(audit_opinion),
            audit_time = VALUES(audit_time)
    </insert>

    <insert id="insertBatch" parameterType="com.yunnancommon.entity.po.ReportAuditHistory">
        INSERT INTO report_audit_history(enterprise_id,period_id,report_id,audit_level,auditor,audit_result,audit_opinion,audit_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.enterpriseId},#{item.periodId},#{item.reportId},#{item.auditLevel},#{item.auditor},#{item.auditResult},#{item.auditOpinion},#{item.auditTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" parameterType="com.yunnancommon.entity.po.ReportAuditHistory">
        INSERT INTO report_audit_history(enterprise_id,period_id,report_id,audit_level,auditor,audit_result,audit_opinion,audit_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.enterpriseId},#{item.periodId},#{item.reportId},#{item.auditLevel},#{item.auditor},#{item.auditResult},#{item.auditOpinion},#{item.auditTime})
        </foreach>
        ON DUPLICATE KEY UPDATE
            enterprise_id = VALUES(enterprise_id),
            period_id = VALUES(period_id),
            report_id = VALUES(report_id),
            audit_level = VALUES(audit_level),
            auditor = VALUES(auditor),
            audit_result = VALUES(audit_result),
            audit_opinion = VALUES(audit_opinion),
            audit_time = VALUES(audit_time)
    </insert>

    <select id="selectByAuditId" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list" />
        FROM report_audit_history
        WHERE audit_id = #{auditId}
    </select>

    <update id="updateByAuditId" parameterType="com.yunnancommon.entity.po.ReportAuditHistory">
        UPDATE report_audit_history
        <set>
            <if test="bean.enterpriseId != null">
                enterprise_id = #{bean.enterpriseId},
            </if>
            <if test="bean.periodId != null">
                period_id = #{bean.periodId},
            </if>
            <if test="bean.reportId != null">
                report_id = #{bean.reportId},
            </if>
            <if test="bean.auditLevel != null">
                audit_level = #{bean.auditLevel},
            </if>
            <if test="bean.auditor != null">
                auditor = #{bean.auditor},
            </if>
            <if test="bean.auditResult != null">
                audit_result = #{bean.auditResult},
            </if>
            <if test="bean.auditOpinion != null">
                audit_opinion = #{bean.auditOpinion},
            </if>
            <if test="bean.auditTime != null">
                audit_time = #{bean.auditTime},
            </if>
        </set>
        WHERE audit_id = #{auditId}
    </update>

    <delete id="deleteByAuditId">
        DELETE FROM report_audit_history WHERE audit_id = #{auditId}
    </delete>

</mapper>

